<div class="col-lg-12 col-md-12 col-sm-12" style="padding: 2em;">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link {{ 'active' if current_tab=='home' }}" href="/home">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {{ 'active' if current_tab=='user' }}" href="/user">User</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {{ 'active' if current_tab=='log' }}" href="/log">Log</a>
        </li>
    </ul>
</div>