<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Set It</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='font-awesome/css/font-awesome.min.css') }}">
</head>
<body>
<div class="container-fluid">
    <div class="row">
        {% include 'includes/_header.html' %}
        {% include 'includes/_tabs.html' %}
        {% block content %}{% endblock %}
        {% include 'includes/_footer.html' %}
    </div>
</div>
{% block script %}
    <script src="{{ url_for('static', filename='jquery/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='jquery/jquery.serialize-object.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap/js/popper.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.bundle.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.js') }}"></script>
    <script src="{{ url_for('static', filename='notify.js') }}"></script>
    <script src="{{ url_for('static', filename='main.js') }}"></script>
{% endblock %}
</body>
</html>