{% extends 'layout.html' %}
{% block content %}
    <div class="col-lg-12 col-md-12 col-sm-12" style="padding: 0 3em;">
        <div class="col-lg-12 col-md-12 col-sm-12 action-bar">
            <a href="/user/create" class="btn btn-sm btn-primary mr-md-2" id="create_user_button">Create User</a>
            <a href="#" class="btn btn-sm btn-danger mr-md-2" id="delete_user_button">Delete Users</a>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12" style="margin-bottom: 5em;">
            <div class="row bg-secondary table-head">
                <div class="col-lg-3 col-md-3 col-sm-12 left-align"><input type="checkbox" id="select_all"/>&nbsp;&nbsp;Name</div>
                <div class="col-lg-3 col-md-3 left-align">Email</div>
                <div class="col-lg-3 col-md-3 left-align">Phone</div>
                <div class="col-lg-1 col-md-1 center-align">Active</div>
                <div class="col-lg-2 col-md-2 right-align">Action</div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                {% for user in users %}
                    <div class="row table-row">
                        <div class="col-lg-3 col-md-3 col-sm-12 left-align"><input type="checkbox" id="user{{ i }}"/>&nbsp;&nbsp;<a href="/user/{{ user.id }}">{{ user.first_name }} {{ user.last_name }}</a></div>
                        <div class="col-lg-3 col-md-3 col-sm-12 left-align">{{ user.email }}</div>
                        <div class="col-lg-3 col-md-3 col-sm-12 left-align">{{ user.phone }}</div>
                        <div class="col-lg-1 col-md-1 col-sm-12 center-align">{{ 'Active' if user.active else 'Inactive' }}</div>
                        <div class="col-lg-2 col-md-2 col-sm-12 right-align">
                            <a href="#" class="btn-sm btn-secondary" title="Edit" data-toggle="modal" data-target="#edit_user_modal"><i class="fa fa-edit"></i></a>&nbsp;
                            <a href="#" class="btn-sm btn-danger" title="Delete"><i class="fa fa-trash"></i></a>
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}